<div class="center-container">
  <mat-card class="center-card">
    <div class="flex-container">
      <div class="flex-item ecg">
        <div class="left">
          <app-echarts-wrapper #echartsWrapper [data]="ecgDataConfig"
            [inputChartOptions]="chartOptions1"></app-echarts-wrapper>
        </div>
        <div class="right">102</div>
      </div>
      <div class="flex-item breath">
        <div class="left">
          <app-echarts-wrapper #echartsWrapper2 [data]="breathDataConfig"
            [inputChartOptions]="chartOptions2"></app-echarts-wrapper>
        </div>
        <div class="right">15</div>
      </div>
    </div>
  </mat-card>
</div>
